.header__container{
    // display: flex;
    align-items:center;
    ;
    ul{
        display: flex;
        align-items:center;
        justify-content: center;
        gap: 64px;
        margin-left: 300px;
    }

ul{list-style-type: none;}
    li{
     color:black;
    }
    h2{
        color: var(--Dark, #222831);

        /* Button */
        font-family: Circular Std;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 16.8px */
    }
    button{
        display: flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 8px;
        border-radius: 100px;
    background: var(--Primary, #5D50C6);
    transition: all 0.5s;
    }
    button:hover{
        background:white
    }
    
}
.images__container{
    display: block;

    position: right;
    margin-top: 20px;
}