ul{
    list-style: none;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items:center;

    ul {
        display: flex;
        gap: 20px;
        color:black;
        text-decoration: none;

    }

    a{
        color:black;
        text-decoration: none;
        transition: all 05.s;

    }

}
.login a{
    li{
        text-decoration: none;
    }
}